body{
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;		
}
.main{
	width: 100%;
	height: 100vh;
	position: relative;
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.main .center h1{
	text-transform: capitalize ;
	margin-bottom: 120px;
	color: #cf9b23;
	text-shadow: 1px 2px 3px #2980b9;
	font-size: 2.1rem;
}
h2{
	text-align: center;
	color: white;
}
.form{
	min-height: calc(1.5em + .75rem + 2px);
	display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    /* line-height: 1.5; */
    /* color: #212529; */
    /* background-color: #fff; */
    /* background-clip: padding-box; */
    /* border: 1px solid #ced4da; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* border-radius: .25rem; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

	background-color: transparent;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
/*	border-radius: 10px 10px 0 0;
*/	border: 5px solid #cf9b23;
	color: white;
/*	font-size: 1.3rem;
*/}
.mainbtn{
	padding: 10px 20px;
	border-radius: 20px;
	border: 5px solid #2980b9;
	background: #ecf0f1;
	font-size: 1rem;
}
